@import "tailwindcss";



.layout {
  @apply max-w-[1240px] mx-auto px-6 py-6;
}


/* Custom CSS Variables */
:root {
  --font-sans: 'Inter', system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
